<h1>物件一覧</h1>
<table>
    <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
    </tr>
    <% @chintais.each do |chintais| %>
      <tr>
        <td><%= chintais.rentname %></td>
        <td><%= chintais.wage %>円</td>
        <td><%= chintais.address %></td>
        <td><%= chintais.age %>年</td>
        <td><%= chintais.remarks %></td>
        <td><%= link_to '詳細', chintai_path(chintais.id) %></td>
        <td><%= link_to '編集', edit_chintai_path(chintais.id) %></td>
        <td><%= link_to '削除', chintai_path(chintais.id), method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
</table>

 <%= link_to '物件を登録する', new_chintai_path %>

